.card__img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.h5-text {
  font-family: "IntroDemo-BlackCAPS", serif;
  font-size: 30px;
  line-height: 36px;
}

.info__h5 {
  margin: 15px 0;
}

.info__text {
  margin-bottom: 10px;
  height: 160px;
}

.main {
  height: 100%;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__card {
  max-width: 365px;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.subscribe {
  background-color: #ec615b;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subscribe__h5 {
  color: white;
  margin: 10px 0;
}

.subscribe__input-email {
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.subscribe__btn {
  height: 38px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .main__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767.99px) {
  .main__h2 {
    text-align: center;
  }
  .main__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
