body {
  background-image: url("../assets/images/pic.svg");
  background-repeat: no-repeat;
}

.main {
  min-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__buy-btn {
  margin: 10px 0px;
}

@media screen and (min-width: 1200px) {
  .main {
    width: 80%;
  }
  .main__h2 {
    width: 530px;
    height: 220px;
  }
  .main__text {
    width: 480px;
    height: 100px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.99px) {
  .main {
    width: 80%;
  }
  .main__h2 {
    width: 530px;
    height: 220px;
  }
  .main__text {
    width: 480px;
    height: 100px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-size: 80vh;
    background-position: right center;
  }
  .main__buy-btn {
    height: 84px;
    width: 270px;
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .main {
    width: 100%;
  }
  .main__h2 {
    width: 530px;
    height: 220px;
  }
  .main__text {
    width: 480px;
    height: 100px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
  .main {
    width: 100%;
  }
  .main__h2 {
    max-width: 100%;
  }
  .main__text {
    width: 75%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) and (orientation: landscape) {
  body {
    min-height: 650px;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.99px) {
  body {
    background-size: 50vh;
    background-position: right bottom;
  }
  .main__h2 {
    width: 500px;
    height: 220px;
  }
  .main__text {
    width: 450px;
    height: 100px;
  }
  .main__buy-btn {
    height: 64px;
    width: 200px;
    font-size: 28px;
  }
  .main__buy-btn .btn-icon {
    width: 31px;
    height: 21px;
  }
}

@media screen and (max-width: 575.99px) {
  body {
    background-size: 40vh;
    background-position: right bottom;
  }
  .main__h2 {
    max-width: 100%;
  }
  .main__text {
    width: 90%;
  }
  .main__buy-btn {
    height: 52px;
    width: 160px;
    font-size: 24px;
  }
  .main__buy-btn .btn-icon {
    width: 31px;
    height: 21px;
  }
}
