@font-face {
  font-family: "IntroDemo-BlackCAPS";
  src: url("../assets/fonts/Intro/IntroDemo-BlackCAPS.otf");
}

$logoSize: 40px;
.container {
  min-height: 85%;
  position: relative;
}
.header__logo,
.btn,
.main__h2,
.header__logo,
.h5-text {
  font-family: "IntroDemo-BlackCAPS", serif;
}
.text {
  font-family: "Roboto Slab", serif;
}
.header__logo {
  font-size: 26px;
  line-height: 48px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.header__logo::before {
  content: "";
  width: $logoSize;
  height: $logoSize;
  background-image: url("../assets/icons/logo.svg");
  background-repeat: no-repeat;
  background-size: $logoSize $logoSize;
  position: absolute;
  top: -3px;
  left: -50px;
}
.header__cart-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;
  font-size: 13px;
}
.btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #5222d0;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 0px 4%;
  &-sign {
    margin-right: 5px;
  }
  &-icon {
    margin: 5px 0 9px 0;
  }
}
.nav {
  height: 65px;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__item {
    list-style-type: none;
    &-link {
      text-decoration: none;
      color: rgba(82, 34, 208, 1);
    }
  }
}


@media screen and (min-width: 576px) {
  .main {
    &__h2 {
      margin: 30px 0;
    }
    &__text {
      margin: 20px 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 3vh 5vh 0 15vh;
  }
  .nav {
    margin-left: 15vh;
    width: 65%;
  }
  .main {
    &__h2 {
      font-size: 60px;
      line-height: 72px;
    }
  }
  .text {
    font-size: 20px;
    line-height: 32px;
  }
  .header__cart-btn {
    width: 128px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .nav {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
  .text {
    font-size: 18px;
    line-height: 30px;
  }
  .nav {
    width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.99px) {
  .container {
    margin: 3vh 5vh 0 10vh;
  }
  .nav {
    margin-left: 10vh;
  }
  .main {
    &__h2 {
      font-size: 56px;
      line-height: 64px;
    }
  }
  .header__cart-btn {
    width: 128px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    margin: 3vh;
  }
  .nav {
    margin-left: 3vh;
  }
  .header__logo {
    margin-left: calc(3vh + 32px);
  }
  .main {
    &__h2 {
      margin: 15px 0px;
      font-size: 38px;
      line-height: 50px;
    }
  }
  .text {
    max-width: 10px 0px;
    font-size: 18px;
    line-height: 30px; 
  }
  .nav {
    width: 90vw;
    flex-wrap: wrap;
  }
  .header__cart-btn > .btn-sign {
    display: none !important;
  }
  .header__cart-btn {
    width: 38px;
  }
}

